#form-content {
  textarea {
    min-height: 30vh;
  }
}

.content-enter {
  opacity: 0.01;

  &.content-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
}

.content-leave {
  opacity: 1;

  &.content-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}
