div.modal {
  div.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
  }

  div.content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    overflow: auto;
    text-align: center;
    cursor: pointer;

    &:after {
      vertical-align: middle;
      display: inline-block;
      height: 100%;
      margin-left: -0.05em;
      content: "";
    }

    div.dialog {
      position: relative;
      outline: 0;
      background: #fff;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      min-width: 320px;
      cursor: default;

      div.modal-close {
        text-align: right;
      }

      div.header {
      }

      div.body {
        padding-bottom: 16px;
      }
    }
  }
}
