#notification-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  margin: 0;
}

.notification-enter {
  opacity: 0.01;
}

.notification-enter {
  &.notification-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
}

.notification-leave {
  opacity: 1;
}

.notification-leave {
  &.notification-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}
