// Status colors
$color-primary: #ff5722;
$color-success: #4caf50;
$color-info: #455a64;
$color-warning: #ffeb3b;
$color-error: #ff5252;

// Grid options
$gutter-width: 1em;
$outer-margin: 2em;
$gutter-compensation: ($gutter-width * 0.5) * -1;
$half-gutter-width: $gutter-width * 0.5;

$columns: 24;
$column-width: 100%/$columns;

// 576px
$screen-sm-min: 36em;
// 768px
$screen-md-min: 48em;
// 992px
$screen-lg-min: 62em;
// 1200px
$screen-xlg-min: 75em;

$screen-xs-max: calc($screen-sm-min - 1px);
$screen-sm-max: calc($screen-md-min - 1px);
$screen-md-max: calc($screen-lg-min - 1px);
$screen-lg-max: calc($screen-xlg-min - 1px);

$container-sm: $screen-sm-min - $gutter-width *2;
$container-md: $screen-md-min - $gutter-width *2;
$container-lg: $screen-lg-min - $gutter-width *2;
$container-xlg: $screen-xlg-min - $gutter-width *2;
